HTTP_PORT=
GRPC_PORT=

DB_SQL_HOST=
DB_SQL_PORT=
DB_SQL_USER=
DB_SQL_PASSWORD=
DB_SQL_NAME=

# STORAGE_S3_ENDPOINT=
# STORAGE_S3_BUCKET=
# STORAGE_S3_ACCESS_KEY_ID=
# STORAGE_S3_SECRET_ACCESS_KEY=
# STORAGE_S3_URL_EXPIRATION=

# BROKER_BACKEND=kafka
# BROKER_KAFKA_BROKERS=127.0.0.1:9092
# BROKER_KAFKA_GROUP_ID=bibit
# BROKER_KAFKA_BATCH_SIZE=
# BROKER_KAFKA_BATCH_TIMEOUT=

# BROKER_RABBITMQ_URL=amqp://127.0.0.1:5672
# BROKER_RABBITMQ_EXCHANGE=
# BROKER_RABBITMQ_GROUP_ID=bibit
# BROKER_RABBITMQ_BATCH_SIZE=
# BROKER_RABBITMQ_BATCH_TIMEOUT=

# OTLP_ENDPOINT=
